# question 1

In [2]:
#num of rows
num_rows = 5

#for loop print pattern
for i in range(num_rows):
    if i== 0 or i == num_rows -1:
        print("+-----+")
    else:
            print("\\    /")
            print(" \\  /")
            print("  \\/")
            print("  /\\")
            print(" /  \\")

+-----+
\    /
 \  /
  \/
  /\
 /  \
\    /
 \  /
  \/
  /\
 /  \
\    /
 \  /
  \/
  /\
 /  \
+-----+

# Question 2

In [4]:
#set number ofrows
num_rows = 5

#use a for loopto print the pattern
for i in range(num_rows):
    print("**********")

**********
**********
**********
**********
**********

# question 3

In [5]:
for i in range(1, 7):
    a = 3 * i - 2
    b = 2 * i
    c = 5 * i ** 2 - 1
    d = 10 - i
    e = 2 * i + 3
    f = 89 - 3 * i
    g = 14 * i - 20
    
    print(f"a) {a} b) {b} c) {c} d) {d} e) {e} f) {f} g) {g}")

a) 1 b) 2 c) 4 d) 9 e) 5 f) 86 g) -6
a) 4 b) 4 c) 19 d) 8 e) 7 f) 83 g) 8
a) 7 b) 6 c) 44 d) 7 e) 9 f) 80 g) 22
a) 10 b) 8 c) 79 d) 6 e) 11 f) 77 g) 36
a) 13 b) 10 c) 124 d) 5 e) 13 f) 74 g) 50
a) 16 b) 12 c) 179 d) 4 e) 15 f) 71 g) 64

# Question 4

In [8]:
#define list
for i in range(1, 8):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777

# Question 5

In [29]:

normal_hours = min(8,)
overtime_hours = max(0, -8)
salary_per_hour = (normal_pay / normal_hours) 

normal_pay = (salary_per_hour * normal_hours)
overtime_pay = (1.5 * salary_per_hour * overtime_hours)
    
total_pay = normal_pay + overtime_pay
print (total_pay)

print (pay(5.50, 6))
print(pay(4.00, 11))

TypeError: 'int' object is not iterable

# Question 6

In [87]:
#import math module
import math
#acess pi constant
pi_value = math.pi
print(pi_value)
#calculate area of a circle
radius = 2.0
area = math.pi * radius**2
print(area)

3.141592653589793
12.566370614359172

# Question 7

low = 1
high = 1001
sum = 0
for i in range(low, high):
    sum += i
    
print("sum = " , sum)

In [ ]:
low? 1
high? 1001
sum = 500500

In [ ]:
low? 300
high? 5298
sum = 13986903

# Question 8

In [ ]:
sum = 0
number = (10(0))

while number 1= 0:
    sum += number
    number = (15(0))
print(sum)

# Question 9

In [ ]:
sum = 0
number = (10(-1))

while number 1= 0:
    sum += number
    number = (15(-1))
print(sum)

# Question 10

In [ ]:
repeated_text = repl("Hello", 3)
print(repeated_text)

In [ ]:
repeated_text = repl("hello", -1)
print(repeated_text)

# Question 11

In [ ]:
printRange(2, 7)
printRange(19, 11)
printRange(5, 5)

# Question 14

In [ ]:
unique_count = num_unique(18, 3, 4)
print(len(unique_count))

unique_count = num_unique(6, 7, 6)
print(len(unique_count))

# Question 15

In [ ]:
import random
#simulate rolling dice
def roll_dice():
    die1 = random.randint(1, 6)
    die2 = random.randint(1, 6)
    total = die1 + die2
    return die1, die2, total
#keep rolling until the sum is 7
tries = 0
while True:
    tries += 1
    die1, die2, total = roll dice()
    print(f"{die1} + {die2} = {total}")
    if totla == 7:
        break
        #print winning message
        print(f"You won after {tries} tries!")