# Question 1

In [ ]:
#find the maximum value in the list

In [5]:
# define my list
my_list = [2, 4, 7, 4, 23, 5, 1, 4, 8, 9]

# Find the maximum value in the list
max_value = max(mylist)

# print the result
print (max(my_list))

23

# Question 2

In [ ]:
# calculate the average value in the list

In [26]:
#define my list
mylist = [4, 7, 1, 5, 11, 53, 12, 46, 84, 23]

#find the average value in the list
average_value = sum(mylist) / len(mylist)
 
#print result
print (average_value)

24.6

# Question 3

In [27]:
#print a list in reverse order

In [39]:
#define list
list = [2, 6, 7, 45, 23, 53, 14, 45, 89, 5]

#print list in reverse order
print("original list:", list)
print("Reversed list:", list[::-1])

original list: [2, 6, 7, 45, 23, 53, 14, 45, 89, 5]
Reversed list: [5, 89, 45, 14, 53, 23, 45, 7, 6, 2]

# Question 4

In [54]:
#define list
list1 = [1, 2, 3, 15, 20, 38, 59, 100]
list2 = [80, 120, 250, 50, 45, 68, 72, 1000]

#compare the element if the first list is less than the element at the same index  in the second list
print(list1 < list2)

True

# Question 5

In [15]:
#define my list

my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3

#swapping list using temporary variable
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print(my_list)

[1, 4, 3, 2, 5]

# Question 6

In [95]:
#define my list
list1 = [1, 8, 9, 15]
list2 = [6, 15, 2, 1]
#merge and print lists
result_list = (list1 + list2)
print(result_list)

[1, 8, 9, 15, 6, 15, 2, 1]

# Question 7

In [47]:
#define my list
my_list = [74,85, 102, 99, 101, 85, 56]
int_value = 85

last_index = (my_list, int_value)

if "value is not found":
    print(-1)
else:
        print(last_index)

-1

# Question 8

In [126]:
list = [36, 12, 25, 19, 46, 31, 22]
print(list)
#find the max and min values in the list
max_value = max(list)
min_valuen = min(list)

#calculate the range
Range = max(list) - min(list) + 1
print(Range)

[36, 12, 25, 19, 46, 31, 22]
35

# question 9

In [133]:
mylist = [14, 1, 22, 17, 36, 7, -43, 5]

#min and max number
min_number = 4
max_number = 17
#count and print the elementts in the range
element = (range(4,17))
print(element)

range(4, 17)

# quuestion 10

In [153]:
list1 = [16.1, 12.3, 22.2, 14.4]
list2 = [1.5, 4.3, 7.0, 19.5, 25.1, 46.2]

#check if list are sorted
result_list1 = (list1)
result_list2 = (list2)

#print result
if "is list1 sorted?": 
  print(False)
if "is list2 sorted?":
  print(True)

False
True